@model IEnumerable<DSS.Controllers.SearchComponentsController.PropertyValuesSubcategories>

@{
    ViewBag.Title = "Поиск компонентов";
}

<style>
    .flex, .flexButtons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
    }

    .flex-itm {
        margin: 5px;
        padding: 15px;
    }

    .flex-btn {
        margin: 5px;
    }

    .nameProperty {
        font-size: 16px;
        text-align: center;
    }
</style>
<h2>Поиск компонентов</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@using (Html.BeginForm())
{
    <div class="flex">
        @foreach (var item in Model)
        {
            <div class="flex-itm">

                <p class="nameProperty">@Html.Label(item.PropertyName)</p>
                @foreach (var value in item.Values)
                {
                    <p> @Html.CheckBox("Values", value) @value </p>
                }

                @*@Html.ActionLink("Edit", "Edit", new { id = item.PropertyName }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PropertyName }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PropertyName })*@
            </div>
        }
    </div>
    <div class="flexButtons">
        <input class="btn btn-success flex-btn" type="submit" value="Искать" />
        <input class="btn btn-default flex-btn" type="reset" value="Сбросить" />
    </div>
}

