@model  DSS.ViewModels.ViewSearch

@{
    ViewBag.Title = "Поиск компонентов";
}

<style>
    /*Стили для формы поиска*/
    .flex, .flexButtons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
    }

    .flex-itm {
        border: 1px solid gray;
        border-radius: 10px 0 0 10px;
        height: 200px;
        width: auto;
        overflow-y: scroll; /* прокрутка по вертикали */
        margin: 5px;
        padding: 15px;
    }

    .flex-btn {
        margin: 5px;
    }

    .nameProperty {
        font-size: 16px;
        text-align: center;
    }

    sup {
        cursor: help;
    }

    table {
        margin-top: 50px;
    }

    .component {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
    }
</style>
<h2>Поиск компонентов</h2>
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@using (Html.BeginForm("Show", "SearchComponents"))
{
    <div class="flex">
        @foreach (var item in Model.PropertyValuesSubcategories)
        {
            <div class="flex-itm">
                <p class="nameProperty">
                    @Html.Label(item.PropertyName)
                    @if (item.Description != null)
                    {
                        <sup>
                            <img src="../../Image/Blobs/question.png"
                                 width="15px" height="15px" title="@item.Description" />
                        </sup>
                    }
                </p>
                @foreach (var value in item.Values)
                {
                    <p> @Html.CheckBox("Values", value) @value </p>
                }

                @*@Html.ActionLink("Edit", "Edit", new { id = item.PropertyName }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PropertyName }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PropertyName })*@
            </div>
        }
    </div>
    <div class="flexButtons">
        <input class="btn btn-success flex-btn" type="submit" value="Искать" />
        <input class="btn btn-default flex-btn" type="reset" value="Сбросить" />
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Наименование")
        </th>
        <th>
            @Html.DisplayName("Производитель")
        </th>
    </tr>
    @foreach (var item in Model.ComponentsSubcategory)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "SearchComponents", new { component = item })" class="component">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
                <sup>
                    <img src="../../Image/Countries/@Html.DisplayFor(modelItem => item.CountryFlag)" width="20" height="20" />
                </sup>
            </td>
        </tr>
    }
</table>