@model  DSS.ViewModels.SearchFilterViewModel

@{
    ViewBag.Title = "Поиск компонентов";
}

<h3>Поиск компонентов</h3>

<div class="dropdown">
    <div class="dropbtn">
        @Model.DropDown.ThisCategory.Name
    </div>
    <div class="dropdown-content">
        @foreach (var category in Model.DropDown.OtherCategories)
        {
            <a href="@Url.Action("Index", "SearchComponents", new { categoryId = category.Id })">
                @category.Name
            </a>
        }
    </div>
</div>
<div class="dropdown">>></div>
<div class="dropdown">
    <div class="dropbtn">
        @Model.DropDown.ThisSubcategory.Name
    </div>
    <div class="dropdown-content">
        @foreach (var subcategory in Model.DropDown.OtherSubcategories)
        {
            <a href="@Url.Action("Index", "SearchComponents", new {subcategoryId = subcategory.Id })">
                @subcategory.Name
            </a>
        }
    </div>
</div>

@using (Ajax.BeginForm("ShowResult", "SearchComponents", new AjaxOptions { UpdateTargetId = "results" }))
{
    @Html.HiddenFor(m => m.DropDown.ThisSubcategory.Id)
    <div class="flex">
        <div class="flex-itm">
            <p class="nameProperty">
                @Html.HiddenFor(m => m.CountryProperty.PropertyName)
                @Html.Label(Model.CountryProperty.PropertyName)
                @if (Model.CountryProperty.Description != null)
                {
                    <sup>
                        <img src="../../Images/Blobs/question.png"
                             width="15px" height="15px" title="@Model.CountryProperty.Description" />
                    </sup>
                }
            </p>
            @for (var i = 0; i < Model.CountryProperty.ValueChecked.Length; i++)
            {
                var value = Model.CountryProperty.ValueChecked[i];
                <p>
                    @Html.CheckBoxFor(m => m.CountryProperty.ValueChecked[i].Checked, false)
                    @Html.LabelFor(m => m.CountryProperty.ValueChecked[i].Checked, value.Name)
                    @Html.HiddenFor(m => m.CountryProperty.ValueChecked[i].Id)
                </p>
            }
        </div>

        @for (var p = 0; p < Model.Properties.Length; p++)
        {
            <div class="flex-itm">
                <p class="nameProperty">
                    @Html.Label(Model.Properties[p].PropertyName)
                    @Html.HiddenFor(m => m.Properties[p].PropertyId)
                    @Html.HiddenFor(m => m.Properties[p].PropertyName)
                    @if (Model.Properties[p].Description != null)
                    {
                        <sup>
                            <img src="../../Images/Blobs/question.png"
                                 width="15px" height="15px" title="@Model.Properties[p].Description" />
                        </sup>
                    }
                </p>
                @for (var i = 0; i < Model.Properties[p].ValueChecked.Length; i++)
                {
                    var value = Model.Properties[p].ValueChecked[i];
                    <p>
                        @Html.CheckBoxFor(m => m.Properties[p].ValueChecked[i].Checked, false)
                        @Html.LabelFor(m => m.Properties[p].ValueChecked[i].Checked, value.Name)
                        @Html.HiddenFor(m => m.Properties[p].ValueChecked[i].Id)
                    </p>
                }
            </div>
        }
    </div>
    <div class="flexButtons">
        <input class="btn btn-success flex-btn" type="submit" value="Искать" />
        <input class="btn btn-default flex-btn" type="reset" value="Сбросить" />
    </div>

}
<table class="table" id="results"></table>
