@using DSS.Common
@model DSS.ViewModels.SearchResultViewModel
@*Вывод наименований всех свойств компонентов*@
<table id="results">
    <tr>
        <th>
            @Html.Label(Model.TableHeader.ComponentNameColumnName)
        </th>
        <th>
            @Html.Label(Model.TableHeader.CountryColumnName)
        </th>
        @foreach (var propertyName in Model.TableHeader.PropertyColumnNames)
        {
            <th>
                @Html.Label(propertyName)
            </th>
        }
    </tr>

    @foreach (var row in Model.Rows)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Components", new { id = row.ComponentId })" class="component">
                    @Html.DisplayFor(x => row.ComponentName)
                </a>
            </td>
            <td>
                <sup>
                    <img src="@DefaultPaths.CountriesImagesPath@Html.DisplayFor(x => row.CountryFlag)" width="20" height="20" />
                </sup>
                @row.CountryName
            </td>

            @foreach (var cell in row.Cells)
            {
                <td>
                    @cell.Value
                    @if (@cell.Unit != null)
                    {
                        <span> [@cell.Unit]</span>
                    }
                </td>
            }
        </tr>

    }
</table>
