@using DSS.Common
@model DSS.Models.Subcategory

@{
    ViewBag.Title = HeaderTexts.Delete + HeaderTexts.ForSubcategory;
}

<h2>@HeaderTexts.Delete@HeaderTexts.ForSubcategory</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @DefaultNames.Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @DefaultNames.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
