@using DSS.Common
@model DSS.Models.Component

@{
    ViewBag.Title = DefaultNames.SearchAnalogs;
}

<h2>@DefaultNames.SearchAnalogs</h2>


<div class="flex-nlg">
    <div class="flex-itm-nlg">
        <p>Аналогом является компонент, удовлетворяющий условиям: </p>
    </div>
    <div class="flex-itm-nlg">
        <ul>
            <li>компонент, <strong>произведен в России</strong></li>
            <li>компонент, находится <strong>в той же подкатегории</strong></li>
            <li>свойства, отличаются не более, чем на <strong>@ViewBag.CountVariance позиции</strong></li>
            <li>не указанные свойства являются <strong>совпадающими</strong></li>
        </ul>
    </div>
    <div class="flex-itm-nlg search">
        @using (Ajax.BeginForm("ShowResult", "SearchAnalogs", new AjaxOptions { UpdateTargetId = "results" }))
        {
            @Html.AntiForgeryToken()

            <div class="flex-fld">
                <div class="flex-fld-itm">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Наименование компонента" } })
                </div>
                <div class="flex-fld-itm">
                    <input class="btn btn-success" type="submit" value="Поиск" />
                </div>
            </div>
        }
    </div>

    <table class="table" id="results"></table>

</div>

@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
