@using DSS.Common
@model DSS.Models.Category

@{
    ViewBag.Title = HeaderTexts.Delete + HeaderTexts.ForCategory;
}

<h2>@HeaderTexts.Delete@HeaderTexts.ForCategory</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @DefaultNames.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @DefaultNames.Image
        </dt>

        <dd>
            <img class="img-category" src="@DefaultPaths.CategoriesImagesPath@Html.DisplayFor(model => model.Image)" />
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            @Html.ActionLink(ButtonTexts.Back, "Index") |
            <input type="submit" value="@ButtonTexts.Delete" class="btn btn-danger" />
        </div>
    }
</div>


