@using DSS.Common
@model DSS.Models.Category

@{
    ViewBag.Title = HeaderTexts.Details + HeaderTexts.ForCategory;
}

<h2>@HeaderTexts.Details@HeaderTexts.ForCategory</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @DefaultNames.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @DefaultNames.Image
        </dt>

        <dd>
            <img src="@DefaultPaths.CategoriesImagesPath@Html.DisplayFor(model => model.Image)" width="50" height="50" />
        </dd>

        <dt>
            @DefaultNames.Subcategories
        </dt>

        <dd>
            <ul>
                @foreach (var subcategory in Model.Subcategories)
                {
                    <li>
                            @subcategory.Name
                    </li>
                    <p>
                        <a class="btn btn-primary a-text" href="@Url.Action("Edit", "Subcategories", new { id = subcategory.Id})">@ButtonTexts.Edit</a>
                        <a class="btn btn-info a-text" href="@Url.Action("Details", "Subcategories", new { id = subcategory.Id})">@ButtonTexts.Details</a>
                        <a class="btn btn-danger a-text" href="@Url.Action("Delete", "Subcategories", new {id = subcategory.Id})">@ButtonTexts.Delete</a>
                    </p>
                }
            </ul>
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink(ButtonTexts.Back, "Index") |
    <a class="btn btn-success a-text" href="@Url.Action("Create", "Subcategories")">@ButtonTexts.Create @ButtonTexts.ForSubcategory</a>
</div>
