@using DSS.Common
@model DSS.Models.Category

@{
    ViewBag.Title = DefaultNames.Details;
}

<h2>@DefaultNames.Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @DefaultNames.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @DefaultNames.Image
        </dt>

        <dd>
            <img src="../../Images/Categories/@Html.DisplayFor(model => model.Image)" width="50" height="50" />
        </dd>

        <dt>
            @DefaultNames.Subcategories
        </dt>

        <dd>
            <ul>
                @foreach (var subcategory in Model.Subcategories)
                {
                    <li>
                        @subcategory.Name
                    </li>
                    <p>
                        <a href="@Url.Action("Edit", "Subcategories", new { id = subcategory.Id})">@DefaultNames.Edit</a> |
                        <a href="@Url.Action("Delete", "Subcategories", new {Id = subcategory.Id})">@DefaultNames.Delete</a>
                    </p>
                }
            </ul>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(DefaultNames.CreateSubcategory, "Create", "Subcategories")
</p>
