@using DSS.Common
@model IEnumerable<DSS.Models.Category>

@{
    ViewBag.Title = DefaultNames.CatalogComponents;
}

<h2>@DefaultNames.CatalogComponents</h2>


@if (User.IsInRole(DefaultRoles.Admin))
{
    <p>
        @Html.ActionLink(DefaultNames.CreateCategory, "Create")
    </p>
}

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="#" class="category-title">@Html.DisplayFor(modelItem => item.Name)</a>
                <div class="subcategory-list">
                    <ul>
                        @foreach (var subItem in item.Subcategories)
                        {
                            <li>
                                <a href="@Url.Action("Index", "SearchComponents", new {subcategoryId = subItem.Id})">@Html.DisplayFor(modelItem => subItem.Name)</a>
                            </li>
                        }
                    </ul>
                </div>
            </td>
            <td>
                <img src="@DefaultPaths.CategoriesImagesPath@Html.DisplayFor(modelItem => item.Image)" width="50" height="50" />
            </td>
            @if (User.IsInRole(DefaultRoles.Admin))
            {
                <td>
                    @Html.ActionLink(DefaultNames.Edit, "Edit", new { id = item.Id }) |
                    @Html.ActionLink(DefaultNames.Details, "Details", new { id = item.Id }) |
                    @Html.ActionLink(DefaultNames.Delete, "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }

</table>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.category-title').click(function () {
            $(this).parent().children('.subcategory-list').slideToggle();
            return false;
        });
    });
</script>