@using DSS.Common
@model DSS.Models.Component

@{
    ViewBag.Title = HeaderTexts.Delete + HeaderTexts.ForComponent;
}

<h2>@HeaderTexts.Delete@HeaderTexts.ForComponent</h2>

<h3>@HeaderTexts.ConfirmDelete</h3>
@using (Html.BeginForm("Delete", "Components", new { id = Model.Id, subcategoryId = Model.SubcategoryId }))
{
    @Html.AntiForgeryToken()

    <div>
        <a class="btn btn-default " href="@Url.Action("Details", new {id = Model.Id})">@ButtonTexts.Back</a>
        <input type="submit" value="@ButtonTexts.Delete" class="btn btn-danger" />
    </div>
}

@Scripts.Render("~/bundles/jquery")