@using DSS.Common
@model DSS.Models.Component

@{
    ViewBag.Title = HeaderTexts.Details + HeaderTexts.ForComponent;
}

<h2>@HeaderTexts.Details@HeaderTexts.ForComponent</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @DefaultNames.Country
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>

        <dt>
            @DefaultNames.Subcategory
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcategory.Name)
        </dd>

        <dt>
            @DefaultNames.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<td>
    <a class="btn btn-default" href="@Url.Action("Index", "SearchComponents", new {subcategoryId = Model.SubcategoryId})">@ButtonTexts.Back</a>

    @if (User.IsInRole(DefaultRoles.Admin))
    {
        <a class="btn btn-primary" href="@Url.Action("Edit", new {id = Model.Id})">@ButtonTexts.Edit</a>
        <a class="btn btn-danger" href="@Url.Action("Delete", new {id = Model.Id})">@ButtonTexts.Delete</a>
    }

</td>

