@using DSS.Common
@model DSS.ViewModels.Component.EditComponentViewModel

@{
    ViewBag.Title = HeaderTexts.Details + HeaderTexts.ForComponent;
}

<h2>@HeaderTexts.Details@HeaderTexts.ForComponent</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @DefaultNames.Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Component.Name)
        </dd>
        <dt>
            @DefaultNames.Subcategory
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubcategoryName)
        </dd>
        <dt>
            @DefaultNames.Country
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        @for (var i = 0; i < Model.Component.Properties.Length; i++)
        {
            <dt>
                @Model.Component.Properties[i].Name
                @if (@Model.Component.Properties[i].Description != null)
                {
                    <sup>
                        <img src="@(DefaultPaths.BlobsImagesPath + "question.png")"
                             width="15px" height="15px" title="@Model.Component.Properties[i].Description" />
                    </sup>
                }
            </dt>
            <dd>
                @Html.DisplayFor(x => Model.Component.Properties[i].Value)
            </dd>
        }
    </dl>
</div>

<td>
    <a class="btn btn-default" href="@Url.Action("Index", "SearchComponents", new {subcategoryId = Model.Component.SubcategoryId})">@ButtonTexts.Back</a>

    @if (User.IsInRole(DefaultRoles.Admin))
    {
        <a class="btn btn-primary" href="@Url.Action("Edit", new {id = Model.Component.Id})">@ButtonTexts.Edit</a>
        <a class="btn btn-danger" href="@Url.Action("Delete", new {id = Model.Component.Id})">@ButtonTexts.Delete</a>
    }

</td>

