@using DSS.Common
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="@DefaultPaths.BlobsImagesPath@DefaultPaths.MainIconImageName" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header act">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav nav-divider">
                    <li class="li-brand li-menu">
                        @Html.ActionLink("ИEC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand a-not-margin" })
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="li-menu"><a class="a-not-margin" href="@Url.Action("Index", "Categories")">@DefaultNames.CatalogComponents</a></li>
                    <li class="li-menu"> <a class="a-not-margin" href="@Url.Action( "Index", "SearchAnalogs")">@DefaultNames.SearchAnalogs</a></li>
                    <li class="li-menu"><a class="a-not-margin" href="@Url.Action("Contact", "Home")">@DefaultNames.Contact</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ОАО "Импортозамещение-ЕС"</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>